// Fonts
$fa-font-path: "../fonts/webfonts" !default;

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

@font-face {
    font-family: 'circular_stdbold';
    src: url('../fonts/circularstd-bold-webfont.woff2') format('woff2'),
         url('../fonts/circularstd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular_stdlight';
    src: url('../fonts/circularstd-light-webfont.woff2') format('woff2'),
         url('../fonts/circularstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}