// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'circular_stdlight', sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

strong,
.strong {
    font-family: 'circular_stdbold', sans-serif !important;
    letter-spacing: -2px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'circular_stdbold', sans-serif;
    letter-spacing: -2px;
    text-transform: uppercase;

    span {
        font-family: 'circular_stdlight', sans-serif;
    }
}

h1 {
    @include font-size(4.5rem);
}

h2 {
    @include font-size(4rem);
}

hr {
    border-top: 4px solid $primary;
    opacity: 1;
}

.btn {
    @include transition(ease, 0.3s);
}

.btn-lg {
    --bs-btn-padding-x: 1.8rem;
}

.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

.color-primary {
    color: $primary;
}

.color-secondary {
    color: $secondary;
}

.text-normal {
    text-transform: none;
}

.input-group {
    input[type=search],
    input[type=text],
    input[type=email],
    button {
        border-radius: 50rem;
    }
}

.input-group > .form-control,
.input-group > .form-select,
.input-group > .form-floating,
.input-group > form {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group > form {
    position: relative;

    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

header {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    // color: ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 100px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        font-size: 1.4rem;
        // color: ;

        &:hover,
        &:focus {
            // color: ;
        }
    }
}

.navbar-scroll {
    background-color: white;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 100px !important;
    }

    #mburger {
        // color: !important;
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

.jumbotron {
    background-color: #F5FAFC;
    padding-top: 70px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-jumbotron {
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 2;

        .swiper-slide > .row:first-of-type {
            min-height: 100vh;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: $primary;
            top: 40%;
            -webkit-transform: translateY(-40%);
                -ms-transform: translateY(-40%);
                    transform: translateY(-40%);
        }
    }

    #top {
        h3 {
            color: $primary;
        }

        h4 {
            text-transform: none;
        }
    }

    #bottom {
        h1 {
            line-height: normal;
        }

        h2 {
            line-height: 2rem;
        }
    }
}

#jumbotron-fixed,
#jumbotron-slider {
    height: auto !important;

    .swiper-jumbotron {
        .swiper-slide > .row:first-of-type {
            min-height: auto;
        }
    }
}

#jumbotron-fixed {
    min-height: auto;
}

#jumbotron-slider {
    min-height: auto;
    padding-top: 30px;
}

#jumbotron-ma,
#jumbotron-id {
    #fondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        .container-fluid {
            height: 100%;
            padding-right: 0;
            padding-left: 0;
            
            .row {
                height: 100%;
            }
        }
    }

    .contenedor-fondo {
        width: 100%;
        height: 100%;
        float: left;
    }
}

#jumbotron-ma {
    .contenedor-fondo {
        @include background('../images/page-ma/bg-jumbotron.png', left, cover);
    }
}

#jumbotron-id {
    .contenedor-fondo {
        @include background('../images/page-id/bg-jumbotron.png', left, cover);
    }

    #porcentaje {
        @include font-size(6.75rem);
    }

    #mro {
        @include font-size(3.75rem);
    }
}

#jumbotron-gracias {
    background-color: transparent;

    color: $white;
    overflow: hidden;
    @include font-size(1.4rem);

    a {
        color: $white;
    }

    img,
    p,
    ul {
        position: relative;
        z-index: 2;
    }

    .social {
        @include font-size(2rem);
    }

    .input-group {
        button {
            color: $primary;
        }
    }

    #ico-wab {
        max-width: 22.3px;
        position: relative;
        top: -3px;
    }
}

.descanso {
    min-height: 300px;
}

.descanso-thumb {
    h1 {
        line-height: normal;
    }

    h2 {
        line-height: 2rem;
    }

    h4 {
        text-transform: none;
    }

    .badge {
        vertical-align: text-top;
    }
}

.descanso-texto {
    text-align: center;

    h1 {
        font-family: 'circular_stdlight', sans-serif;
        @include font-size(1.75rem);
    }
}

.descanso-page-ma {
    @include background('../images/page-ma/bg-descanso.png', center, cover);
}

.descanso-page-id {
    @include background('../images/page-id/bg-descanso.png', center, cover);
}

.grid {
    h1 {
        color: $primary;
        font-family: 'circular_stdlight', sans-serif;
        @include font-size(1.75rem);
    }
}

footer {
    color: $white;
    overflow: hidden;
    @include font-size(1.4rem);

    a {
        color: $white;
    }

    img,
    p,
    ul {
        position: relative;
        z-index: 2;
    }

    .social {
        @include font-size(2rem);
    }

    .input-group {
        button {
            color: $primary;
        }
    }

    #ico-wab {
        max-width: 22.3px;
        position: relative;
        top: -3px;
    }
}