// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    footer {
        #ico-wab {
            max-width: 23.8px;
            top: -3px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .jumbotron { 
        padding-top: 80px;
    }

    footer,
    #jumbotron-gracias {
        #ico-wab {
            max-width: 24.9px;
            top: -4px;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    .jumbotron { 
        padding-top: 0;
        
        #top {
            h3 {
                line-height: 1.4rem;
            }
        }
    }

    #jumbotron-fixed {
        padding-top: 120px;
    }

    .descanso-thumb {
        h3 {
            line-height: 1.4rem;
        }
    }

    footer,
    #jumbotron-gracias {   
        /*
        .logo {
            position: relative;
    
            &::before,
            &::after {
                background-size: contain !important;
                position: absolute;
                content: '';
                z-index: 1;
            }
    
            &::before{
                background: url('../images/before-logo.png') no-repeat;
                width: 65px;
                height: 131px;
                top: -158px;
                left: -64px;
            }
    
            &::after {
                background: url('../images/after-logo.png') no-repeat;
                width: 105px;
                height: 207px;
                right: -109px;
                bottom: -228px;
            }
        }
        */

        #ico-wab {
            max-width: 27px;
            top: -4px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    .jumbotron { 
        padding-top: 0;
    }

    #jumbotron-fixed {
        padding-top: 120px;
    }

    footer,
    #jumbotron-gracias {
        /*
        .logo {
            &::before{
                width: 68px;
                height: 139px;
                top: -172px;
                left: -67px;
            }
    
            &::after {
                width: 113px;
                height: 215px;
                right: -119px;
                bottom: -245px;
            }
        }
        */

        #ico-wab {
            max-width: 28px;
            top: -4px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    footer,
    #jumbotron-gracias {   
        /*
        .logo {
            &::before{
                width: 83px;
                height: 167px;
                top: -208px;
                left: -84px;
            }
    
            &::after {
                width: 100px;
                height: 260px;
                right: -111px;
                bottom: -296px;
            }
        }
        */
    }
}
