<head><meta name="viewport" content="width=device-width, initial-scale=1"><script defer src="app.bundle.c09d66c22d3c634cdf2e.js"></script></head>Html Webpack Plugin:
<pre>
Error: Child compilation failed:
Module not found: Error: Can't resolve '/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/html-webpack-plugin/lib/loader.js' in '/Users/luiscarlospando/Documents/Dev/Mixen/eter'
ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/html-webpack-plugin/lib/loader.js' in '/Users/luiscarlospando/Documents/Dev/Mixen/eter'
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/Compilation.js:2022:28
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/NormalModuleFactory.js:817:13
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:10:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/NormalModuleFactory.js:275:22
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:9:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/NormalModuleFactory.js:448:22
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/NormalModuleFactory.js:122:11
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/NormalModuleFactory.js:654:23
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/neo-async/async.js:2830:7
    at done (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/neo-async/async.js:2925:13)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/webpack/lib/NormalModuleFactory.js:1059:23
    at finishWithoutResolve (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:372:11)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:461:15
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:27:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/DescriptionFilePlugin.js:89:43
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:15:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:15:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:27:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/DescriptionFilePlugin.js:89:43
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/Resolver.js:519:5
    at eval (eval at create (/Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:15:1)
    at /Users/luiscarlospando/Documents/Dev/Mixen/eter/node_modules/enhanced-resolve/lib/DirectoryExistsPlugin.js:41:15
    at process.processTicksAndRejections (node:internal/process/task_queues:81:21)</pre>